@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
 
body{
    margin-left: 70px;
    background-color:black;
}
/*  style-principalDiv*/

.classMain{
    display: flex;
    width:100%;
}
/*  style-sibeBar*/


.sideBar{
   display: flex;
   flex-direction:column; 
   justify-content: flex-end;
   align-items:flex-end;
   gap:20px;
   padding-top:10px;
   padding-right:10px;
   width: 25%;
   height:100% ;
   position: sticky;
   top:0px ;
   
}
.sideBar-1{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    gap:20px;
    width: 50%;
    
   
}
.sideBar-2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    width: 50%;
    height: 540px;
   
}

.one{
 display: flex;
 gap:10px;
 width: 100%;  
}

.one-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.one-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.two{
 display: flex;
 gap:10px;
 width: 100%;  
}

.two-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.two-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.three{
    display: flex;
    gap:10px;
    width: 100%;   
}

.three-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.three-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.four{
    display: flex;
    gap:10px;
    flex-direction: row;
   
    width: 100%;  
}
.four-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.four-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}


.five{
    display: flex;
    gap:10px;
    width: 100%;  
}
.five-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.five-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.six{
    display: flex;
    gap:10px;
    width: 100%;   
}
.six-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.six-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.sevenn{
    display: flex;
    gap:10px;
    width: 100%;  
}
.sevenn-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.sevenn-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.eightt{
    display: flex;
    gap:10px;
    width: 100%;    
}
.eightt-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.eightt-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}
.nine{
    display: flex;
    gap:10px;
    width: 100%;  
}
.nine-1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width:30% ;
}
.nine-2{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width:70% ;
}


.sidebar2-btn{
    
   display: flex;
    justify-content: center;
    background-color: #1d9bf0;
    padding: 10px;
    width: 210px;
    border-radius: 30px;
}


.sidebar2-profil{
    display:flex;
    width: 100%;
    height: 60px;
}

.sidebar2-profil-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px;
    width: 30%;
   
}

.sidebar2-profil-picture-image{
    width: 100%;
    height:60px;
    object-fit: cover;
    border-radius:50%;
}

.sidebar2-profil-info{
    display: flex;
    flex-direction:column;
    padding-left:5px;
    width: 50%;
    
}
.sidebar2-profil-icon{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 20%;
    
}

span{
    color:white;
   
 }
 .sidebar-span-userName{
    display:flex;
 }

 button{
    color: white;
    display: flex;
    justify-content: flex-end;
   
 }

.sideBar-Home{
 display: flex;
 justify-content: flex-end;
 gap:10px;
}
.sideBar-Explore{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Notification{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Messages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Bookmarks{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Lists{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Profile{
    display: flex;
    justify-content: flex-end;
}
 
/*  style-contenu*/

.timeLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;  
    border: 1px solid gray ;
}

.header{ 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    position: sticky;
    top:0px;
   
}

.header_title{
    font-weight: bold;
    color:white;
    font-size: 16px;
}

.tweet-editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
}

.avatar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:5px;
    width: 10%;
}

.avatar-picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:40px;
   
}

.profil{
  width: 100%;
  border-radius: 50%;
  object-fit:cover;
}

.tweet-editor-form{
   padding:5px;
    width: 100%;
    height: 100%;  
}

.tweet-editor-input{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 60%;
}


textarea{
    padding-top: 20px;
    color:white;
    width: 100%;
    height:100%;
    resize: none; 
    background-color: black;
    outline: none;
  
}

.tweet-editor-buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top:5px;
    width: 100%;
    height: 40%;
}

.tweet-editor-actions{
   display: flex; 
   padding-top:5px;
   flex-direction: row;
   justify-content: center;
   align-items: center; 
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width:80px;
    height: 30px;
    background-color:#0e4d78;
    font-size: 12px;
}

.tweets{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid gray;
   
  
}
 .tweet{
  display: flex;
  flex-direction:row;
  width: 100%;
 
  
 } 
 .tweet-avatar{
  width: 10%; 
 } 

 .tweet-avatar-picture{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width:100%;
 }

 .tweet-avatar-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:100%;
 }


 .tweet-content{
    width: 90%;
    gap:10px;
 } 
 .tweet-body{
    display: flex;
    flex-direction: column;
    width: 100%;
 } 

 .tweet-actions{
    width: 100%;
 } 
 .tweet-title{
    display: flex;
    gap:3px;
    width: 100%; 

 } 
 .verified{
    display: flex;
    flex-direction:row;
    gap:3px;
 }

 .user{
    display: flex;
    gap:2px;
    
 }

 h5{
    color:white;
    font-weight:bold;
   
 }
 .tweet-text{
    width: 100%;
    font-weight: 500;
 } 
 p{
    color:gray;
 }
 .tweet-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    height: 50%;  
 }

 .tweet-image img{
   width: 100%;
    height: auto;
    border-radius: 10px;
  }

 .tweet-title-author{
    width: 100%;
 } 

 .tweet-title-details{
    width: 100%;
 } 

 .tweet-action{
    display: flex;
    width: 100%;
 } 

 .tweet-action-btn{
    display: flex;
    width:25%;
    justify-content: center;
    align-items: center;
 }

 .tweet-action-btn-span{
    padding-left: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
 }


.follow{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:5px;
    padding-left: 20px;
    gap:10px;
    color:white;
    width:25%;
    position: fixed;
}
.follow-search{
    display: flex;
    width: 350px;
    height: 42px;
    border: 1px solid #232739;
    border-radius:30px;
    background-color:#232739;
}
.follow-div1-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:5px;
    width: 90%;
    outline: none;
    border: none;
}
.follow-div1-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.follow-div1-input-input{
    width: 95%;
    background-color:#232739;
   
}
.follow-div2{
    width: 350px;
    height: 426px; 
    border: 1px solid #232739;
    background-color:#232739;
    border-radius:10px;
    padding:10px;
}

.follow-div2-trendsforyou{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    
}

.follow-div2-trendsforyou-text{
    display: flex;
    justify-content: space-between;
    padding:7px;
   
    
}
.button-showmore{
    display: flex;
    justify-content: flex-start;
    color: #1d9bf0;
    font-size:15px;
    font-weight: bold;
    padding: 7px;
  
}

.trendsforyou-text{
    display: flex;
    flex-direction: column;
    gap:px;
    justify-content: flex-start;
    align-items: flex-start;
    
}
h4{
    font-size: 19px;
    font-weight: bold;
}
.trendsforyou-text-span1{
    font-size: 13px;
    font-weight:normal;
    color: gray;
}
.trendsforyou-text-span2{
    font-size: 15px;
    font-weight:bold;
    color:white;  
}
.follow-List{
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px; 
    height: 314px;
    border-radius:10px;
    border: 1px solid #232739;
    background-color:#232739;
   
}
.follow-body{
    display: flex;
    gap: 20px;
    padding: 10px;
   
}
.followme-btn{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.followerName{
    display: flex;
    gap:5px;
    color: #D9D9D9;
    font-size: 15px;
    font-weight: normal;
}

.followerEmail{
    color: #6E767D;
    font-size: 15px;
    font-weight:lighter;
}
.btn-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    color:#0F1419;
    border-radius: 50px;
    padding:px;
    width: 100px;
    font-size: 14px;
    font-weight: normal;
}
.follow-List-user{
    display: flex;
    justify-content: space-between;
}

.copyright{
    color:#6E767D;
    font-size: 13px;
    font-weight: lighter;
}
