@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
 
body{
    margin-left: 70px;
    background-color:black;
}
/*  style-principalDiv*/

.classMain{
    display: flex;
    gap: 5px;
    width:100%;
    padding-left:60px;
}
/*  style-sibeBar*/


.sideBar{
   display: flex;
   flex-direction:column; 
   justify-content: flex-end;
   align-items:flex-end;
   gap:20px;
   padding-top:10px;
   padding-right:10px;
   width: 22.5%;
   height:100% ;
   position: sticky;
   top:0px ;
   
}
.sideBar-1{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    width: 100%;
}

.one{
    display: flex;
    height:50px;
    width: 160px;
   }
   .one:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
     
   }
   .one-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .one-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .two{
    display: flex;
    gap:20px;
    height:50px;
    width: 160px;
   }
   
   .two:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
   }
   
   .two-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .two-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .three{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .three:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
      
   }
   
   .three-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .three-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .four{
       display: flex;
       gap:20px;
       flex-direction: row;
       height:50px;
       width: 170px;
   }
   
   .four:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 170px;
     
   }
   
   .four-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .four-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   
   
   .five{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .five:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
   }
   
   .five-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .five-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .six{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .six:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
   }
   
   .six-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .six-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .sevenn{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .sevenn:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
   }
   
   .sevenn-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .sevenn-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .eightt{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .eightt:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
    
   }
   
   .eightt-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30% ;
   }
   .eightt-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   .nine{
       display: flex;
       gap:20px;
       height:50px;
       width: 160px;
   }
   
   .nine:hover{
       background-color: #181818;
       border-radius:30px; 
       width: 160px;
   }
   
   .nine-1{
       display: flex;
       justify-content:flex-end;
       align-items: center;
       width:30%;
   }
   .nine-2{
       display: flex;
       justify-content:flex-start;
       align-items: center;
       width:70% ;
   }
   
   

.sideBar-2{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    width:100%;
    height:380px;
}

.sidebar2-btn{
   display: flex;
    justify-content: center;
    background-color: #1d9bf0;
    padding: 10px;
    width: 180px;
    border-radius: 30px;
}

.sidebar2-btn:hover{
     background-color: #1A8CD8;
 }

.sidebar2-profil{
    display:flex;
    gap: 2px;
    width: 225px;
    height:65px;
    padding:5px;
}

.sidebar2-profil:hover{
    background-color: #181818;
    border-radius:25px; 
}
.sidebar2-profil-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
}

.sidebar2-profil-picture-image{
    width: 100%;
    height:40px;
    object-fit: cover;
    border-radius:50%;
}

.sidebar2-profil-info{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:3px;
    width: 70%;
    
}
.sidebar2-profil-icon{
    display: flex;
    justify-content:flex-start;
    align-items:center; 
    width:10%;
    
}

span{
    display: flex;
    color:white;
    font-size: 17px;
    font-weight: bold;
 }
 .sidebar-span-userName{
    display:flex;
    justify-content: center;
    align-items: center;
 }

 button{
    color: white;
    display: flex;
    
 }

.sideBar-Home{
 display: flex;
 justify-content: flex-end;
 gap:10px;
}
.sideBar-Explore{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Notification{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Messages{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Bookmarks{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Lists{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.sideBar-Profile{
    display: flex;
    justify-content: flex-end;
}
 
/*  style-contenu*/

.timeLine{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;  
    border: 1px solid rgb(123, 123, 123) ;
  
}

.header{ 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid gray;
    position: sticky;
    top:0px;
}

.header_title{
    font-weight: bold;
    color:white;
    font-size: 16px;
}

.tweet-editor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid gray;
}

.avatar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:5px;
    width: 10%;
}

.avatar-picture{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height:40px;
   
}

.profil{
  width: 100%;
  border-radius: 50%;
  object-fit:cover;
}

.tweet-editor-form{
   padding:5px;
    width: 100%;
    height: 100%;  
}

.tweet-editor-input{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 60%;
}


textarea{
    padding-top: 20px;
    color:white;
    width: 100%;
    height:100%;
    resize: none; 
    background-color: black;
    outline: none;
  
}

.tweet-editor-buttons{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-top:5px;
    width: 100%;
    height: 40%;
}

.tweet-editor-actions{
   display: flex; 
   padding-top:5px;
   flex-direction: row;
   justify-content: center;
   align-items: center; 
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width:80px;
    height: 30px;
    background-color:#0e4d78;
    font-size: 12px;
}

.tweets{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid gray;
   
  
}
 .tweet{
  display: flex;
  flex-direction:row;
  width: 100%;
  border-bottom: 1px solid gray;
  
 } 
 .tweet-avatar{
  width: 10%; 
 } 

 .tweet-avatar-picture{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width:100%;
 }

 .tweet-avatar-image{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width:100%;
 }


 .tweet-content{
    width: 90%;
    gap:10px;
 } 
 .tweet-body{
    display: flex;
    flex-direction: column;
    width: 100%;
 } 

 .tweet-actions{
    width: 100%;
 } 
 .tweet-title{
    display: flex;
    gap:3px;
    width: 100%; 

 } 
 .verified{
    display: flex;
    flex-direction:row;
    gap:3px;
 }

 .user{
    display: flex;
    gap:2px;
    
 }

 h5{
    color:white;
    font-weight:bold;
   
 }
 .tweet-text{
    width: 100%;
    font-weight: 500;
 } 
 p{
    color:gray;
 }
 .tweet-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    width: 100%;
    height: 50%;  
 }

 .tweet-image img{
   width: 100%;
    height: auto;
    border-radius: 10px;
  }

 .tweet-title-author{
    width: 100%;
 } 

 .tweet-title-details{
    width: 100%;
 } 

 .tweet-action{
    display: flex;
    width: 100%;
 } 

 .tweet-action-btn{
    display: flex;
    width:25%;
    justify-content: center;
    align-items: center;
 }

 .tweet-action-btn-span{
    padding-left: 10px;
    display: flex;
    justify-self: center;
    align-self: center;
 }


.follow{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:5px;
    padding-left: 20px;
    gap:10px;
    color:white;
    width:22.5%;
    position: fixed;
}
.follow-search{
    display: flex;
    width: 350px;
    height: 42px;
    border: 1px solid #202327;
    border-radius:30px;
    background-color:#202327;
}
.follow-div1-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:5px;
    width: 90%;
    outline: none;
    border: none;
}
.follow-div1-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}
.follow-div1-input-input{
    width: 95%;
    background-color:#202327;
    outline: none;
   
}
.follow-div2{
    width: 350px;
    height: 426px; 
    border: 1px solid #202327;
    background-color:#202327;
    border-radius:10px;
    padding:0px;
}

.follow-div2-trendsforyou{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    
}

.follow-div2-trendsforyou-text{
    display: flex;
    justify-content: space-between;
    padding:7px;  
}

.follow-div2-trendsforyou-text:hover{
    background-color: #1D1F23;
}

.button-showmore{
    display: flex;
    justify-content: flex-start;
    color: #1d9bf0;
    font-size:15px;
    font-weight: bold;
    padding: 7px;
    width: 100%;
    height:81px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.button-showmore:hover{
    background-color: #1D1F23;
}
.trendsforyou-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
h4{
    display: flex;
    justify-content:flex-start;
    justify-items: center;
    font-size: 19px;
    font-weight: bold;
}
.trendsforyou-text-span1{
    font-size: 13px;
    font-weight:normal;
    color: gray;
}
.trendsforyou-text-span2{
    font-size: 15px;
    font-weight:bold;
    color:white;  
}
.follow-List{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 314px;
    border-radius:10px;
    border: 1px solid #202327;
    background-color:#202327;   
}

.follow-body{
    display: flex;
    gap: 20px;
    padding:10px;
}

.follow-body:hover{
    background-color: #1D1F23;
}


.followme-btn{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.followerName{
    display: flex;
    gap:5px;
    color: #D9D9D9;
    font-size: 15px;
    font-weight: normal;
}

.followerEmail{
    color: #6E767D;
    font-size: 15px;
    font-weight:lighter;
}
.btn-follow{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    color:#0F1419;
    border-radius: 50px;
    padding:px;
    width: 100px;
    font-size: 14px;
    font-weight: normal;
}
.follow-List-user{
    display: flex;
    justify-content: space-between;
}

.copyright{
    color:#6E767D;
    font-size: 13px;
    font-weight: lighter;
}


/*  style-page_profil*/

.IfonUserCount{
    height: 50%;
    width: 100%;
}

.btnReturn_UserNameAndNumberPost{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap:10px;
    padding-left: 10px;
    height:48px;
    background-color:black;
    position: relative;
}
.UserNameAndNumberPost{
    padding:10px;
}
.span-postnumber{
    color:rgb(113, 118, 123);
    font-weight: 400;
    font-size: 13px;
    padding-left: 10px;
}
.grise{
   background-color:#333639; 
   height:170px;
}
.noire{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color:black; 
    height: 254px;
    border-bottom: 1px solid gray;
 }

 .editprofil{
    display: flex;
    justify-content: flex-end;
    padding:10px;
   
 }

 .btn-editprofil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height:35px;
    border: 1px solid gray ;
    border-radius:20px;
    font-weight:600;
 }

 .span-username{
    font-size: 20px;
    font-weight:bold;
    padding-left: 10px;
 }

 .span-usermailadress, .span-userjoined , .following{
    font-size: 15px;
    font-weight:400;
    color:rgb(113, 118, 123);
    padding-left: 10px;
 }

 .following_follower{
    display:flex;
    flex-direction:row;
    gap:5px;
    padding-left: 10px;
 }
.following_follower_following , .following_follower_follower {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.span-userjoined ,.div-userjoined{
   display: flex;
   gap:5px;
   justify-content: flex-start;
   align-items: center;
   padding-left: 10px;
}
 
 .image-profil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height:124px;
    width:120px;
    border-radius: 50%;
    position:absolute;
    top: 155px;
 }

 .image-profil-imageUser{
    border-radius: 50%;
    border:2px solid black;
    height:124px;
    width:100%;
    object-fit: cover;
 }
.btn-replies-posts-media-likes{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 50px; 
}

.btn-posts,.btn-Replies,.btn-highlights,.btn-media,.btn-likes{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 80px;
    height: 45px;
    font-size: 15px;
    font-size: 700;
    color:#5B5E62;
}

.btn-posts:hover{
    background-color: #333639;
}

.btn-Replies:hover{
    background-color: #333639;
}

.btn-highlights:hover{
    background-color: #333639;
}

.btn-media:hover{
    background-color: #333639;
}
.btn-likes:hover{
    background-color: #333639;
}

.WhoToFollow{
    height: 50%;
    width: 100%;
}
.whotofollow-title{
    padding: 10px;
    color:white;
    font-size: 20px;
    font-weight: 800;
}
